# env
.env
*.env

# logs
*.log
/var/log/
/data/

# docker volumes (root-level only)
grafana/
loki/
prometheus/

# keep monitoring dashboards in git
!monitoring/grafana/
!monitoring/grafana/**
monitoring/grafana/data/
monitoring/grafana/plugins/
monitoring/grafana/logs/

# python
__pycache__/
*.pyc

# system files
.DS_Store

# python venv
bot/venv/

# secrets
monitoring/alert-router/alert-router.env
