# Telegram
TG_BOT_TOKEN=PUT_YOUR_TOKEN_HERE
TG_CHAT_ID=PUT_YOUR_CHAT_ID_HERE

# Optional
SEND_RESOLVED=true

# External Prometheus URL (must be reachable from your phone/PC)
PUBLIC_PROMETHEUS_URL=http://YOUR_SERVER_IP:9090

# Loki (inside docker network by default)
LOKI_URL=http://loki:3100
LOKI_LOOKBACK_MINUTES=30
